# Virtual environment
.venv/
env/
venv/

# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo

# Editor/IDE specific files
.idea/  # PyCharm
.vscode/ # VS Code
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
*.db

# Environment variables
.env
.flaskenv

# Testing artifacts
.pytest_cache/
htmlcov/
.coverage

# Build artifacts
dist/
build/
*.egg-info/

# Operating System files
.DS_Store # macOS
Thumbs.db # Windows